<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spc.spc_back.mapper.ProjectMapper">
    <resultMap id="projectResultMap" type="com.spc.spc_back.entity.spcdata.Project">
        <id property="projId" column="proj_id" />
        <result property="projNum" column="proj_num" />
        <result property="projName" column="proj_name" />
        <result property="dataStartRow" column="data_start_row" />
        <result property="charNoCol" column="char_no_col" />
        <result property="axisCol" column="axis_col" />
        <result property="nominalCol" column="nominal_col" />
        <result property="uTolCol" column="u_tol_col" />
        <result property="lTolCol" column="l_tol_col" />
        <result property="measuredValueCol" column="measured_value_col" />
        <result property="serialNumberSourceJson" column="serial_number_source_json" />
        <result property="measurementTimeSourceJson" column="measurement_time_source_json" />
        <result property="createDt" column="create_dt" />
        <result property="updateDt" column="update_dt" />
        <collection property="characteristicList" resultMap="projectCharacteristicResultMap" />
    </resultMap>

    <resultMap id="projectCharacteristicResultMap" type="com.spc.spc_back.entity.spcdata.Characteristic">
        <id property="charId" column="ct_char_id" />
        <result property="projId" column="ct_proj_id" />
        <result property="charNo" column="ct_char_no" />
        <result property="axis" column="ct_axis" />
        <result property="nominal" column="ct_nominal" />
        <result property="uTol" column="ct_u_tol" />
        <result property="lTol" column="ct_l_tol" />
        <result property="createDt" column="ct_create_dt" />
        <result property="updateDt" column="ct_update_dt" />
    </resultMap>

    <insert id="insertProject" useGeneratedKeys="true" keyProperty="projId">
        INSERT INTO
            proj_tb
            (proj_id, proj_num, proj_name, data_start_row, char_no_col, axis_col, nominal_col, u_tol_col, l_tol_col, measured_value_col, serial_number_source_json, measurement_time_source_json, create_dt, update_dt)
        VALUES
            (0, #{projNum}, #{projName}, #{dataStartRow}, #{charNoCol}, #{axisCol}, #{nominalCol}, #{uTolCol}, #{lTolCol}, #{measuredValueCol}, #{serialNumberSourceJson}, #{measurementTimeSourceJson}, NOW(), null)
    </insert>

    <select id="selectProjectByProjId" resultMap="projectResultMap">
        SELECT
            pt.proj_id,
            pt.proj_num,
            pt.proj_name,
            pt.data_start_row,
            pt.char_no_col,
            pt.axis_col,
            pt.nominal_col,
            pt.u_tol_col,
            pt.l_tol_col,
            pt.measured_value_col,
            pt.serial_number_source_json,
            pt.measurement_time_source_json,
            pt.create_dt,
            pt.update_dt,
            ct.char_id as ct_char_id,
            ct.proj_id as ct_proj_id,
            ct.char_no as ct_char_no,
            ct.axis as ct_axis,
            ct.nominal as ct_nominal,
            ct.u_tol as ct_u_tol,
            ct.l_tol as ct_l_tol,
            ct.create_dt as ct_create_dt,
            ct.update_dt as ct_update_dt
        FROM
            proj_tb pt
            LEFT JOIN char_tb ct ON pt.proj_id = ct.proj_id
        WHERE
            pt.proj_id = #{projId}
    </select>

    <select id="selectProjectListByKeyword" resultMap="projectResultMap">
        SELECT
            pt.proj_id,
            pt.proj_num,
            pt.proj_name,
            pt.data_start_row,
            pt.char_no_col,
            pt.axis_col,
            pt.nominal_col,
            pt.u_tol_col,
            pt.l_tol_col,
            pt.measured_value_col,
            pt.serial_number_source_json,
            pt.measurement_time_source_json,
            pt.create_dt,
            pt.update_dt,
            ct.char_id as ct_char_id,
            ct.proj_id as ct_proj_id,
            ct.char_no as ct_char_no,
            ct.axis as ct_axis,
            ct.nominal as ct_nominal,
            ct.u_tol as ct_u_tol,
            ct.l_tol as ct_l_tol,
            ct.create_dt as ct_create_dt,
            ct.update_dt as ct_update_dt
        FROM
            proj_tb pt
            LEFT JOIN char_tb ct ON pt.proj_id = ct.proj_id
        <where>
            <if test="keyword != null and keyword != ''">
                (pt.proj_num LIKE CONCAT('%', #{keyword}, '%')
                OR pt.proj_name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        ORDER BY
            pt.proj_id,
            ct.char_id
    </select>

    <select id="selectProjectList" resultMap="projectResultMap">
        SELECT
            pt.proj_id,
            pt.proj_num,
            pt.proj_name,
            pt.data_start_row,
            pt.char_no_col,
            pt.axis_col,
            pt.nominal_col,
            pt.u_tol_col,
            pt.l_tol_col,
            pt.measured_value_col,
            pt.serial_number_source_json,
            pt.measurement_time_source_json,
            pt.create_dt,
            pt.update_dt,
            ct.char_id as ct_char_id,
            ct.proj_id as ct_proj_id,
            ct.char_no as ct_char_no,
            ct.axis as ct_axis,
            ct.nominal as ct_nominal,
            ct.u_tol as ct_u_tol,
            ct.l_tol as ct_l_tol,
            ct.create_dt as ct_create_dt,
            ct.update_dt as ct_update_dt
        FROM
            proj_tb pt
            LEFT JOIN char_tb ct ON pt.proj_id = ct.proj_id
        ORDER BY
            pt.proj_id,
            ct.char_id
    </select>

    <update id="updateProject">
        UPDATE
            proj_tb
        SET
            proj_num = #{projNum},
            proj_name = #{projName},
            data_start_row = #{dataStartRow},
            char_no_col = #{charNoCol},
            axis_col = #{axisCol},
            nominal_col = #{nominalCol},
            u_tol_col = #{uTolCol},
            l_tol_col = #{lTolCol},
            measured_value_col = #{measuredValueCol},
            serial_number_source_json = #{serialNumberSourceJson},
            measurement_time_source_json = #{measurementTimeSourceJson},
            update_dt = NOW()
        WHERE
            proj_id = #{projId}
    </update>

    <delete id="deleteProject">
        DELETE FROM
            proj_tb
        WHERE
            proj_id = #{projId}
    </delete>
</mapper>
